VITE_API_GATEWAY_URL='https://5d1k1nact1.execute-api.us-east-1.amazonaws.com/Prod'
VITE_APP_S3_BUCKET_URL='https://images-473316329834-20251210.s3.us-east-1.amazonaws.com'
VITE_CLIENT_ID='2p6ukfnouhkntjn78ivf89csuv'
VITE_COGNITO_AUTH_URL='https://ah-2025-12-10.auth.us-east-1.amazoncognito.com'
VITE_REDIRECT_URI='https://main.d2vu8pwki8px4g.amplifyapp.com/'